.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2px;
  background-color: rgb(139, 140, 141) solid;
  max-width: 50em;
  max-height: 50em;
}

button {
  background-color: rgb(116, 123, 255);
  margin: 5px;
  border-radius: 4px;
  border: none;
  color: white;
  width: 100px;

}

button:hover {
  background-color: greenyellow;
  color: rgb(0, 0, 0);
  transition-duration: 0.5s;
}

p {
  border: solid black 1px;
 padding: 20px;
 border-radius: 10px;

}
p:hover{
  background-color: rgb(226, 255, 247);
  transition-duration: 2s;
}