.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(139, 140, 141) solid;
}

button {
  background-color: rgb(116, 123, 255);
  margin: 5px;
  border-radius: 4px;
  border: none;
  color: white;
  width: 100px;

}

button:hover {
  background-color: greenyellow;
  color: rgb(0, 0, 0);
  transition-duration: 0.5s;
  cursor: pointer;

}

p {
  border: solid black 1px;
  padding: 20px;
  border-radius: 10px;

}

p:hover {
  background-color: rgb(226, 255, 247);
  transition-duration: 1s;
}
div{
  border-radius: 5px;
  margin: 2px;
}