input {
    text-align: center;
    font-size: 3vw;
    margin: 2px;
    width: 30vw;
    height: 7vw;
}

div {
    font-size: 3vw;
    text-align: center;
    background-color: lightgray;
    
}

.output {
    font-size: 5vw;
    border: solid white 0.5vw;
    padding: 1vw;
}
.mainDiv{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}